src/main/mule/maventest-222.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2cf54bad-e250-4530-9987-85d0dd0679a1" >
		<http:listener-connection host="${secure::http.host}" port="${secure::http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="a3306326-9eab-4a8d-93dd-f076ef81a0a2" file="dev.yaml" />
	<global-property doc:name="Global Property" doc:id="6fcbac0d-563d-40bf-8834-70375a0e4512" name="env" value="dev" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="94088346-4346-4f45-a1ef-81b932a4c00c" file="dev.yaml" key="mulesoft12345678" />
	<flow name="maventest-222Flow" doc:id="0adccc98-6b4f-43a3-85a9-f48fd281971f" >
		<http:listener doc:name="Listener" doc:id="de0b31ac-7666-4a90-9500-a3ecc3ad7a8b" config-ref="HTTP_Listener_config" path="${secure::http.path}"/>
		<set-payload value="#[&quot;The port is &quot; ++ p('secure::http.path')]" doc:name="Set Payload" doc:id="57ec00a6-755f-4d2b-9af4-e407b443c4e3" />
		<logger level="INFO" doc:name="Logger" doc:id="217bf551-98f2-4414-a9d3-012c0759deda" />
	</flow>
</mule>
